<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>
<center>
<h1>Enter BloodGroup to Search </h1>
    <form action="result" METHOD="get" enctype="multipart/form-data">
        <label> BLOOD GROUP:</label>
  <select name="group">
      <option value="O+ve">O+ve</option>
      <option value="O-ve">O-ve</option>
      <option value="A+ve">A+ve</option>
      <option value="A-ve">A-ve</option>
      <option value="B+ve">B+ve</option>
      <option value="B-ve">B-ve</option>
      <option value="AB+ve">AB+ve</option>
      <option value="AB-ve">AB-ve</option>
  </select>
        &nbsp; &nbsp;
    <label> DISTRICT:</label>
  <select name="district">
      <option value="Thiruvananthapuram">Thiruvananthapuram</option>
      <option value="Kollam">Kollam</option>
      <option value="Alappuzha">Alappuzha</option>
      <option value="Pathanamthitta">Pathanamthitta</option>
      <option value="Kottayam">Kottayam</option>
      <option value="Idukki">Idukki</option>
      <option value="Ernakulam">Ernakulam</option>
      <option value="Thrissur">Thrissur</option>
      <option value="Palakkad">Palakkad</option>
      <option value="Malappuram">Malappuram</option>
      <option value="Kozhikode">Kozhikode</option>
      <option value="Wayanad">Wayanad</option>
      <option value="Kannur">Kannur</option>v
      <option value="Kasargod">Kasargod</option>
  </select>
   <br><br>
    <button>RESULT</button>
        </form>
</center>
</body>
</html>